<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegexTestBed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RegexTestBed.Properties.Settings>
            <setting name="MatchNewline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnorCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoFind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>674</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>448</value>
            </setting>
            <setting name="PanelHeight" serializeAs="String">
                <value>275</value>
            </setting>
            <setting name="HighlightMatch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoFindDelayed" serializeAs="String">
                <value>False</value>
            </setting>
        </RegexTestBed.Properties.Settings>
    </userSettings>
</configuration>